.card-list {
    flex: 1 1;
    display: grid;
    gap: 50px;
    padding: 75px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    justify-items: stretch;
    box-sizing: border-box;
    max-width: 1500px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: max-content;
    transition: box-shadow 0.1s ease-in;
}

.card__image {
    width: 100%;
    box-shadow: var(--blackish_shadow) 0 2px 3px;
}
.card h1 {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card h1 a {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
